* {
  font-family: "Roboto";
}

ul {
  list-style: none;
  overflow: hidden;
}

.logo {
  float: left;
  padding: 20px 20px;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: #a9a9a9;
  display: block;
  text-align: center;
  padding: 20px 20px;
  border-right: solid;
  border-right-width: 1px;
  line-height: 10px;
  border-color: rgba(0, 0, 0, .05);
  vertical-align: center;
  margin-top: 25px;
}

li a:hover {
  color: #fff;
  background-color: #df4c73;
}

.parallax {
  background-image: url("https://images.pexels.com/photos/1036841/pexels-photo-1036841.jpeg");
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.parallax_text {
  position: absolute;
  z-index: 1000;
  top: 150px;
  left: 50%;
  margin-right: 15%;
  line-height: 140%;
}

h1 {
  font-family: 'Roboto Slab';
  font-weight:500;
  letter-spacing: 1px;
}

h2{
  font: "Roboto";
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 1px;
}

.signature{
  width: 100px;
}

.my_skills h1{
  text-align: center;
}

.skills_section{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.skills_column {
  width: 30%;
  display: inline-block;
  position: relative;
  padding: 1%;
  padding-top: 0;
}

ul{
  padding: 0;
}

.skills_bars ul{
  margin:0;
  list-style: none;
}
.skills_bars li {
  width: 100%;
  padding-bottom: 50px;

}

h3 {
  margin-bottom: 7px;
  float: inherit;
}

.bar{
  position: relative;
  width:100%;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .05);
}

h5{
  text-align: right;
  margin-bottom: 0;
}

.progress75{
  background-color: #df4c73;
  display: block;
  height: 100%;
  -webkit-animation: progressBar75 3s ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: progressBar 3s ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes progressBar75 {
  0% { width: 0; }
  100% { width: 75%; }
}

@-moz-keyframes progressBar75 {
  0% { width: 0; }
  100% { width: 75%; }
}

.progress95{
  background-color: #df4c73;
  display: block;
  height: 100%;
  -webkit-animation: progressBar95 3s ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: progressBar95 3s ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes progressBar95 {
  0% { width: 0; }
  100% { width: 95%; }
}

@-moz-keyframes progressBar95 {
  0% { width: 0; }
  100% { width: 95%; }
}

.progress80{
  background-color: #df4c73;
  display: block;
  height: 100%;
  -webkit-animation: progressBar80 3s ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: progressBar80 3s ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes progressBar80 {
  0% { width: 0; }
  100% { width: 80%; }
}

@-moz-keyframes progressBar80 {
  0% { width: 0; }
  100% { width: 80%; }
}

.progress50{
  background-color: #df4c73;
  display: block;
  height: 100%;
  -webkit-animation: progressBar50 3s ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: progressBar50 3s ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes progressBar50 {
  0% { width: 0; }
  100% { width: 50%; }
}

@-moz-keyframes progressBar50 {
  0% { width: 0; }
  100% { width: 50%; }
}

.progress85{
  background-color: #df4c73;
  display: block;
  height: 100%;
  -webkit-animation: progressBar85 3s ease-in-out;
  -webkit-animation-fill-mode:both;
  -moz-animation: progressBar85 3s ease-in-out;
  -moz-animation-fill-mode:both;
}

@-webkit-keyframes progressBar85 {
  0% { width: 0; }
  100% { width: 85%; }
}

@-moz-keyframes progressBar85 {
  0% { width: 0; }
  100% { width: 85%; }
}

.my_portfolio{
  background-color: #df4c73;
}

.my_portfolio h1{
  text-align: center;
  color: white;
}

.portfolio_grid{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 30px;
}

.portfolio_container{
  position: relative;
  display: inline-block;
}

.portfolio_image{
  width: 100%;
  height: auto;
}

.portfolio_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.portfolio_container:hover .portfolio_overlay{
  opacity: 90%;
}

.item_text{
  color: black;
  font-family: 'Roboto Slab';
  font-weight:500;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,50%);
}
